<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: header"></nav>

<div class="container" id="main-content">

    <div class="row mt-4">
            <div class="table-responsive">
                <h5>List of User</h5>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Email</th>
                        <th>Fullname</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user:${users}">
                        <th th:text="${user.id}"></th>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.fullname}"></td>
                        <td>
                            <a href="#" class="mr-sm-2 text-primary"><i class="fa fa-pencil"></i></a>
                            <a href="#" th:href="@{/user/delete/{id}(id=${user.id})}" class="text-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div><!-- /.container -->

<footer th:replace="layout :: footer"></footer>

</body>
</html>